[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
rq = "*"
dramatiq = {extras = ["redis", "watch"], version = "*"}
django-dramatiq = "*"
model-bakery = "*"
django-redis = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
locust = "*"

[requires]
python_version = "3.11"
